<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">All Children</h1>
      <ul class="list-group">
        <% @children.each do |child| %>
          <li class="list-group-item">
            <%= link_to child.name, child_path(child) %>
          </li>
        <% end %>
      </ul>
      <div class="text-center mt-3">
        <%= link_to "Back to Home<i class='fa fa-arrow-right ms-3'></i>".html_safe, root_path, class: "btn btn-primary rounded-pill px-3", style: "text-decoration: none;" %>
      </div>
    </div>
  </div>
</div>
<%= paginate @children %>
